<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href='/signup'>SIGNUP</li>
                <li><a href='/login'>LOGIN</li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/userResume" method='POST'>
            <input type="email" name="email" required><br>
            <input type="password" name="password" required><br>
            <button type="submit">LOGIN</button>
        </form>
    </main>
    
</body>
</html>